<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../img/whatsapp.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/favicon-16x16.png">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Productos y servicios</title>
</head>
<body>
    <a class="btn-wsp" target="_blank" href="https://api.whatsapp.com/send?phone=3875609274">
        <i class="icon-whatsapp"></i>
    </a>
    
    <header class="header">

            
        <div class="caja1">
            <div class="logo">
                <img src="../img/favicon-32x32.png" alt="foto logo">
            </div>
            <div class="texto">
                <h2>
                    Descripcion relevante de la empresa
                </h2>
            </div>
        </div>

        <div class="caja2">
            <nav>
                <ul class="menu">
                    <li>
                        <a href="../index.html">
                            <h2>Menu principal</h2>
                        </a>
                    </li>
                    <li>
                        <a href="../views/sobreNosotros.html">
                            <h2>Sobre nosotros</h2>
                        </a>
                    </li>
                    <li>
                        <a href="../views/productosYservicios.html">
                            <h2>Prodcutos y servicios</h2>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="caja3">
            <a href="../views/quieroHacerUnPedido.html">
                <h1 class="pedido">¡Quiero hacer un pedido!</h1>
            </a>
        </div>
    </header>
    <main>
        <section>
            <h1 class="productosYservicios1">
                -PRODUCTOS AGUA VIDA-
            </h1>
            <div class="productosYservicios2">
                <h2>
                    Elegì la calidad y pureza de los productos Agua vida
                </h2>
                <br>
                <h3>
                    ¡Entrega a domicilio sin cargo!
                </h3>
            </div>
        </section>
        <section class="cajaProductos">
            <div class="cajaBidon">
                <img src="../img/bidon-agua.png" alt="imagen bidon de agua">
            <div class="cajaTexto">
                    <h2>
                        Bidon de agua retornable
                    </h2>
                    <h3>
                        <a href="../views/quieroHacerUnPedido.html">COMPRAR</a>
                    </h3>
            </div>
            </div>
            <div class="cajaSoda">
                <img src="../img/sifon-soda.png" alt="imagen sifon de soda">
            <div class="cajaTexto">
                    <h2>
                        Sifon de soda retornable
                    </h2>
                    <h3>
                        <a href="../views/quieroHacerUnPedido.html">COMPRAR</a>
                    </h3>
            </div>
            </div>
            <div class="cajaBotella">
                <img src="../img/botellas-agua.png" alt="imagen botellas de agua">
            <div class="cajaTexto">
                    <h2>
                        Botella de agua sin gas
                    </h2>
                    <h3>
                        <a href="../views/quieroHacerUnPedido.html">COMPRAR</a>
                    </h3>
            </div>
            </div>
            <div class="cajaDispenserFrio-calor">
                <img src="../img/dispenser-friocalor.png" alt="imagen dispenser frio calor">
            <div class="cajaTexto">
                    <h2>Dispenser de pie frio-calor
                    </h2>
                    <h3>
                        <a href="../views/quieroHacerUnPedido.html">COMPRAR</a>
                    </h3>
            </div>
            </div>
            <div class="cajaDispenserFrio-calor-mesa">
                <img src="../img/dispenser-friocalor-mesa.png" alt="imagen dispenser de mesa">
            <div class="cajaTexto">
                    <h2>
                        Dispenser para mesada frio-calor
                    </h2>
                    <h3>
                        <a href="../views/quieroHacerUnPedido.html">COMPRAR</a>
                    </h3>
            </div>
            </div>
        </section>
    </main>
</body>
</html>